<div class="mui-row">
  <%= unsplash_image 'baby' %>
</div>

<h1>New List</h1>

<%= form_for(@list) do |f| %>
  <div class="mui-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.submit class: 'mui-btn mui-btn--primary' %>
<% end %>
