<%= form_for(todo_item, class: 'mui-form') do |f| %>
  <% if todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mui-textfield">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="mui-select">
    <%= f.label :list_id %>
    <%= f.collection_select :list_id, List.all, :id, :title %>
  </div>

  <% unless todo_item.new_record? %>
    <div class="mui-checkbox">
      <%= f.label :completed, 'Completed' %>
      <%= f.hidden_field :completed, value: '' %>
      <%= f.check_box :completed %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'mui-btn mui-btn--primary' %>
  </div>
<% end %>
