<%= form_for(todo_item, class: 'mui-form') do |f| %>
  <% if todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mui-textfield">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="mui-checkbox">
    <%= f.label :completed_at, 'Completed' %>
    <%= f.check_box :completed_at %>
  </div>

  <div class="actions">
    <%= f.submit class: 'mui-btn mui-btn--primary' %>
  </div>
<% end %>
