<p id="notice"><%= notice %></p>

<h1>Todo</h1>

<table class="mui-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= completed_at_ago item %></td>
        <td><%= link_to 'Edit', todo_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo Item', new_todo_item_path, class: 'mui-btn mui-btn--primary' %>
