<p id="notice"><%= notice %></p>

<h1>
  <%= @todo_item.title %>
</h1>

<p>
  <strong>Completed:</strong>
  <%= completed_at_ago @todo_item %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item), class: 'mui-btn mui-btn--primary' %>
<%= link_to 'Back', todo_items_path, class: 'mui-btn' %>
